*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:'Inter',sans-serif;

    background:
    linear-gradient(
    135deg,
    #071b35,
    #0b294d
    );

    color:white;

}



/* =====================
NAVBAR
===================== */


.navbar{

    height:82px;

    display:flex;

    align-items:center;

    justify-content:space-between;


    padding:0 40px;


    background:
    rgba(12,40,75,.85);


    backdrop-filter:blur(12px);


    border-bottom:
    1px solid rgba(80,160,255,.25);


    box-shadow:
    0 5px 25px rgba(0,0,0,.25);


}



.nav-logo{

    font-size:22px;

    font-weight:800;

    color:#ffffff;


}



.nav-links{

    display:flex;

    gap:18px;

}



.nav-links a{


    padding:10px 16px;


    border-radius:10px;


    border:

    1px solid rgba(120,190,255,.25);


    background:

    rgba(255,255,255,.04);


    color:#d4e7ff;


    text-decoration:none;


    transition:.25s;


}



.nav-links a:hover{


    background:#1684ff;


    border-color:#4ba3ff;


    color:white;


    box-shadow:

    0 0 20px rgba(22,132,255,.5);


    transform:translateY(-3px);


}



.nav-links .active{


    background:

    linear-gradient(
    135deg,
    #1684ff,
    #0055ff
    );


    color:white;


}





/* =====================
CLOCK
===================== */


#zuluClock{


    color:#42ff91;


    font-weight:700;


    text-shadow:

    0 0 12px rgba(66,255,145,.5);


}





/* =====================
USER MENU
===================== */


.user-menu{


    padding:10px 15px;


    border-radius:12px;


    border:

    1px solid rgba(255,255,255,.15);


    background:

    rgba(255,255,255,.06);


}



.dropdown{


    display:none;


    position:absolute;


    right:0;


    top:45px;


    background:#102b4d;


    border:

    1px solid rgba(80,160,255,.3);


    border-radius:15px;


    padding:15px;


}



.user-menu:hover .dropdown{


    display:flex;

    flex-direction:column;

    gap:12px;


}





/* =====================
BUTTONS
===================== */


button{


    border:

    1px solid rgba(90,170,255,.5);


    background:

    rgba(20,100,200,.25);


    color:white;


    padding:10px 15px;


    border-radius:10px;


    cursor:pointer;


}



button:hover{


    background:#1684ff;


    box-shadow:

    0 0 18px rgba(22,132,255,.6);


    transform:translateY(-2px);


}
