*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Inter,Arial,sans-serif;

background:
radial-gradient(
circle at top left,
#174b85,
transparent 35%
),

linear-gradient(
135deg,
#0c2748,
#123c69
);


color:white;

min-height:100vh;

}





/* =====================
NAVBAR
===================== */


.navbar{


height:88px;


display:flex;

align-items:center;

justify-content:space-between;


padding:0 45px;


background:

rgba(18,53,92,.85);


backdrop-filter:

blur(18px);



border-bottom:

1px solid rgba(120,200,255,.25);



}



.nav-logo{


font-size:23px;

font-weight:800;


letter-spacing:.5px;


}





.nav-links{


display:flex;

gap:14px;


}



.nav-links a{


padding:

11px 17px;


border-radius:12px;



background:

rgba(255,255,255,.06);



border:

1px solid rgba(120,190,255,.25);



color:#d9ecff;


text-decoration:none;


transition:.25s;


}



.nav-links a:hover{


background:

linear-gradient(
135deg,
#258cff,
#7c4dff
);


border-color:white;


box-shadow:

0 0 25px rgba(60,150,255,.5);


transform:

translateY(-3px);


}





/* =====================
RIGHT SIDE
===================== */


.nav-right{


display:flex;

align-items:center;


gap:15px;


}




#zuluClock{


padding:

10px 15px;


border-radius:12px;


background:

rgba(0,255,140,.12);



border:

1px solid rgba(0,255,140,.4);



color:#5dffae;


font-weight:700;


}




/* USER BUTTON */


.user-menu{


position:relative;


}



.user-button{


display:flex;

align-items:center;

gap:10px;


padding:

12px 18px;


border-radius:14px;



background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.2);



cursor:pointer;


}




.user-dropdown{


display:none;


position:absolute;



right:0;


top:60px;



width:240px;



background:


linear-gradient(
145deg,
#163b67,
#102847
);



border:

1px solid rgba(120,200,255,.3);



border-radius:18px;



padding:20px;



box-shadow:

0 20px 50px rgba(0,0,0,.4);



z-index:999;


}



.user-dropdown.active{


display:block;


}



.dropdown-title{


font-size:18px;

font-weight:700;


margin-bottom:15px;


}



.dropdown-item{


display:block;


padding:12px;


border-radius:10px;



color:white;


text-decoration:none;


}



.dropdown-item:hover{


background:

rgba(50,150,255,.25);


}




.staff-button{


margin-top:10px;


background:

linear-gradient(
135deg,
#7c4dff,
#9c27b0
);


}



.logout-button{


margin-top:10px;


background:

rgba(255,60,80,.2);


border-color:

rgba(255,80,100,.5);


}
